extends layout

block layout-content
  div.background_img_container
    img(src="/img/landing.jpg", alt="")#landing
    img(src="/img/fondo.jpg", alt="").background_img#background_img_0
    img(src="/img/fondo1.jpg", alt="").background_img#background_img_1
    img(src="/img/fondo2.jpg", alt="").background_img#background_img_2
    img(src="/img/fondo3.jpg", alt="").background_img#background_img_3
    img(src="/img/fondo4.jpg", alt="").background_img#background_img_4

  div.banner
    h1 Photography
  div.home_nav
    div.nav_option
      h1.nav_option_text
        a fondo 0 
    div.nav_option
      h1.nav_option_text
        a fondo 1
    div.nav_option
      h1.nav_option_text
        a fondo 2
    div.nav_option
      h1.nav_option_text
        a fondo 3
    div.nav_option
      h1.nav_option_text
        a fondo 4
  script(src='/style_helpers.js')
    
   
    
    



    