extends layout

block layout-content
  div.banner
    h1 G3 Photography
  div.home_nav
    div.nav_option
      a(href="/user") Home
    div.nav_option
      a Portraits

      //-div.Message
      //- div.Title
      //-   h3 Making the Best
      //-   h1 Food For Devs
      //- span.Details Access the WHATABYTE Team Portal
  div.NavButtons
    a(href="/user")
      div.NavButton Just dive in