extends layout

block layout-content
  
  div.background_img_container
    video(loop muted autoplay)#landing
      source(src="/img/landing_video_small.mp4" type= "video/mp4")
    div.image_screen
        .image_wrapper
          #animation_div
            #image_display.noise
          .glitch_wrapper
            .glitch_layer
            .glitch_layer
            .glitch_layer

  div.banner
    h1 Titulo
  div.home_nav
    div.nav_option
      p.nav_option_text#portraits
        a(href="/portraits") Portraits
    div.nav_option
      p.nav_option_text#about
        a About me
    div.nav_option
      p.nav_option_text#contact
        a Contact
  
  script(src='/style_helpers.js')


    
   
     
    



    