@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Pathway+Gothic+One|Fjalla+One");


* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}
.banner,
.home_nav {
  font-family: 'Pathway Gothic One';
}

.banner {
  display: flex;
  justify-content: flex-start;
  font-size: 3em;
}

.nav_option {
  --main_color: black;
  margin: -.2vw 0 -.2vw 0;
  padding: .1vw .1vw .1vw .1vw;
  border-top: .2vw solid transparent;
  border-bottom: .2vw solid transparent;
}

.nav_option:hover {
  border-top: .2vw solid var(--main_color);
  border-bottom: .2vw solid var(--main_color);
}

.nav_option_text {
  margin: -.2vw 0 -.2vw 0;
  font-size: 4em;
  line-height: 1.2em;
  color: transparent;
  text-shadow:
    0 0 var(--main_color),
    0 1.2em var(--main_color);
  overflow: hidden;
  transition: .3s;
  font-weight: bold;
  text-transform: uppercase;
}

.nav_option_text:hover {
  font-weight: normal;
  text-shadow:
    0 -1.2em var(--main_color),
    0 0 var(--main_color);
}

.nav_option_text a:link {
  text-decoration: none;
  color: transparent;
}

.nav_option_text a:visited {
  text-decoration: none;
  color: transparent;
}

.nav_option_text a:hover {
  text-decoration: none;
  color: transparent;
}

.nav_option_text a:active {
  text-decoration: none;
  color: transparent;
}

.background_menu {
/* max-height: 100vh; */
position: absolute;
top: 0;
left: 0;
}

#home_background_img{
z-index: -1;

}
#second_background_img{
z-index: -2;

}
