@import url("https://fonts.googleapis.com/css?family=Pathway+Gothic+One");


* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
}

#footer {
  font-family: 'Pathway Gothic One';
  color: white;
  position: fixed;
  bottom: 0;
}

.banner,
.home_nav {
  font-family: 'Pathway Gothic One';
  --main_color: white;
}

/* para poner los nav con perspectiva */
/* .home_nav {
  perspective: 1000px;
} */


.banner {
  display: flex;
  justify-content: flex-start;
  font-size: 3em;
  color: var(--main_color);
}

.nav_option {
  margin: -.2vw 0 -.2vw 0;
  padding: .1vw .1vw .1vw .1vw;
  border-top: .2vw solid transparent;
  border-bottom: .2vw solid transparent;
  /* la perspectiva de las letras */
  /* transform: rotateX(-10deg) rotateY(75deg) translateZ(-20vw) translateX(15vw) translateY(-6vh); */
}

.nav_option:hover {
  border-top: .2vw solid var(--main_color);
  border-bottom: .2vw solid var(--main_color);
}

.nav_option_text {
  margin: -.2vw 0 -.2vw 0;
  margin-left: 5%;
  font-size: 4em;
  line-height: 1.2em;
  color: transparent;
  text-shadow:
    0 0 var(--main_color),
    0 1.2em var(--main_color);
  overflow: hidden;
  transition: .3s;
  font-weight: bold;
  text-transform: uppercase;
}

.nav_option_text:hover {
  font-weight: normal;
  text-shadow:
    0 -1.2em var(--main_color),
    0 0 var(--main_color);
}

.nav_option_text a:link {
  text-decoration: none;
  color: transparent;
}

.nav_option_text a:visited {
  text-decoration: none;
  color: transparent;
}

.nav_option_text a:hover {
  text-decoration: none;
  color: transparent;
}

.nav_option_text a:active {
  text-decoration: none;
  color: transparent;
}


.background_img_container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  background-color: black;
  perspective: 1000px;
}

#landing {
  min-height: 100%;
}

/* Image Display Screen */
.image_screen {
  position: absolute;
  padding: 0;
  height: 435px;
  width: 153px;
  left: calc(50% + 285px);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(32px) rotatez(-1deg) rotateY(-4deg) translateX(2px) translateY(-15px);
}


.image_wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  z-index: 10;
}

.image_wrapper:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(26, 25, 25, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}

.transition {
  animation: channel_change 1s;
}

.noise {

  position: absolute;
  top: -500px;
  right: -500px;
  bottom: -500px;
  left: -500px;
  background: transparent url(img/Ressources/noise.png) 0 0;
  background-size: 320px 320px;
  opacity: .35;
  animation: noise 1s steps(8, end) infinite both;
}

/* Glitch Effect */
.glitch_wrapper {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, rgba(26, 25, 25, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}

.glitch_layer {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: url(img/fondo1.jpg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .35;
}

.glitch_layer:nth-child(2) {
  transform: translateX(-5%);
  animation: glitch-anim-1 2s infinite linear alternate;
}

.glitch_layer:nth-child(3) {
  transform: translateX(3%) translateY(3%);
  animation: glitch-anim-2 2.3s -.8s infinite linear alternate;
}

.glitch_layer:nth-child(4) {
  transform: translateX(5%);
  animation: glitch-anim-flash 1s infinite linear;
}

/* ANIMATIONS */

/* Noise */
@keyframes noise {
  0% {
    transform: translateX(0px, 0px);
  }

  10% {
    transform: translate(-100px, 100px);
  }

  20% {
    transform: translate(150px, -100px);
  }

  30% {
    transform: translate(-100px, 100px);
  }

  40% {
    transform: translate(100px, -150px);
  }

  50% {
    transform: translate(-100px, 200px);
  }

  60% {
    transform: translate(-200px, -100px);
  }

  70% {
    transform: translateY(50px, 100px);
  }

  80% {
    transform: translate(100px, -150px);
  }

  90% {
    transform: translate(0px, 200px);
  }

  100% {
    transform: translate(-100px, 100px);
  }
}

/* Glitch Effect */
@keyframes glitch-anim-1 {
  0% {
    clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
  }

  10% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }

  20% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }

  30% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }

  40% {
    clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
  }

  50% {
    clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
  }

  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
  }

  70% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }

  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  90% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }

  100% {
    clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
  }
}

@keyframes glitch-anim-2 {
  0% {
    clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
  }

  15% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }

  25% {
    clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
  }

  30% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }

  45% {
    clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
  }

  50% {
    clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
  }

  65% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }

  75% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }

  80% {
    clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
  }

  95% {
    clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
  }

  100% {
    clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
  }
}

@keyframes glitch-anim-flash {
  0% {
    opacity: .2;
  }

  30%,
  100% {
    opacity: 0;
  }
}

@keyframes channel_change {
  10% {
    transform: scale(1, 0.002);
  }

  35% {
    transform: scale(0.2, 0.002);
    opacity: 1;
  }

  50% {
    transform: scale(0.2, 0.002);
    opacity: 0;
  }

  85% {
    transform: scale(1, 0.002);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
  }
}




/* @-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
} */