@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono|Permanent+Marker|Pathway+Gothic+One");



* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.banner, .home_nav{
  font-family: 'Pathway Gothic One';
}

.banner{
  display: flex;
  justify-content: flex-start;
  font-size: 3em;
}
.nav_option{
  text-transform: uppercase;
  font-size: 4vw;
  line-height: .9em;
  margin-left: 0px;
  text-decoration:none;
}
.nav_option:hover{
  font-family: "Permanent Marker";
  border-top : 0.2vw solid;
  border-bottom : 0.2vw solid;
  overflow: hidden;

}
a:link { text-decoration: none; }


a:visited { text-decoration: none; 
color: black;
}


a:hover { text-decoration: none; }


a:active { text-decoration: none; }
